<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/telaDoFelipao.css">
</head>
<body>
    
    <h1>$Nome da empresa$</h1>
    <div class="divInfos">
        <div>
            <p>Data:</p>
            <p>$Data$</p>
        </div>

        <div>
            <p>Hora:</p>
            <p>$Hora$</p>
        </div>

        <div>
            <p>Seq:</p>
            <p>$Seq$</p>
        </div>
    </div>

    <h2>$Sem valor fiscal$</h2>

    <div class="divDescricao">
        <div>
            <p>Código</p>
            <p class="textDescricao">asda sfa sfas
                sda sfa sfas
                
                sda sfa sfas
                
            </p>
        </div>

        <div>
            <p>descrição</p>
            <p class="textDescricao2">asda sfa sfas
                sda sfa sfas
                sda sfa sfas
                sda sfa sfas
                sda sfa sfas
                sda sfa sfas
                
            </p>
        </div>

        <div>
            <p>Quantidade</p>
            <p class="textDescricao">asda sfa sfas
                sda sfa sfas
                sda sfa sfas
               
                
            </p>
        </div>

        <div>
            <p>Unit</p>
            <p class="textDescricao">asda sfa sfas
                sda sfa sfas
                sda sfa sfas
                
            </p>
        </div>

        <div>
            <p>Total</p>
            <p class="textDescricao">asda sfa sfas
                sda sfa sfas
               
            </p>
        </div>

    </div>

    <div class="divValor">
        <div class="divValor2">
            <p>Quantidade:</p>
            <p style=" margin-left: 25px;">pinto</p>
        
        </div>
        <div>
            <div class="DivConteinerValor">
                <p>Total: </p>
                <p class="valor">11,00</p>
            </div>
            <div class="DivConteinerValor">
                
                <p>Total: </p>
                <p class="valor">11,00</p>
            </div>

        </div>

    </div>
    

</body>
</html>