body{
    background-color: black;
}

.title{
    width: 100%;
    height: 350px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title> h1, .title >h2{
    margin: 0 35px ;
}
.contatos{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 35px;
    flex-wrap: wrap;
}
.contatos> div{
    width: 300px;  
}
.contatos a{
    text-decoration: none;
    color: white;
}
.contatos i {
    font-size: 35px;
    transition: 0.5s;
}
.contatos i:hover {
    scale: 1.2;
    transition: 0.5s;
}
.sessao {
    width: 100%;
    height: 1000px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.formulario{
    width: 100%;
    height: 900px;
    background-color: #252525;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 1px darkorange;
}
.formulario h2{
    color: #ffc800
}
.formulario h3{
    font-size: 18px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
form > .campo{
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #181818;
    color: white;
    font-size: 18px;
}
.imagem-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagem-form > img{
    width: 200px;
    filter: drop-shadow( 0px 0px 10px darkorange);
   
}
#enviar {
    width: 80%;
    margin: 0 auto;
    background-color: #181818;
    color: white;
    padding: 5px;
    border: solid 1px black;
    border-radius: 25px;
    height: 45px;
}
#enviar:hover{
    background-color: #252525;
}
#Mensagem{
   height: 150px;
    
}
@media (max-width:411px) {
    .title{
        height: 610px;
    }
    .contatos > div{
        width: 100%;
    }
   
}