.conteinerSobre{
    width: 100%;
    color: black;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
   
}
.conteinerSobre> .ConteinerHistoria{
    width: 100%;
    height: max-content;
    display: flex;
} 
.conteinerSobre>.ConteinerHistoria >div{
    width: 50%;
    border: solid 1px rgb(77, 73, 73);
} 
.divHistoria{
    background-color: darkorange;
}
.divHistoria h2{
    color: white;
}  
.conteinerSobre> .ConteinerHistoria>div h2{
    margin-top: 70px;
}
.conteinerSobre> .ConteinerHistoria>div h2, .conteinerSobre> .ConteinerHistoria>div p{
    margin-left: 45px;
    margin-right: 45px;
}
.conteinerSobre > .ConteinerHistoria>div p{
    margin-bottom: 80px;
} 
.conteinerValores{
    display: flex;
    text-align: center;
    background-color: rgb(241, 241, 241);
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.conteinerValores>div{
     margin: 50px 20px;
     padding: 20px;
     width: 300px;

}
.conteinerValores i{
   font-size: 50px;
  
}
.conteinerValores p{
    display: flex;
    text-align: left;  
}  
.visao{
    background-color: darkorange;
}
.visao i, .visao h3 {
    color: white;
}   
@media (max-width:900px){

    .ConteinerHistoria{
        flex-direction: column;
    }
    .conteinerSobre>.ConteinerHistoria >div{
        width: 100%;
    
}

@media (max-width:700px){

    .conteinerValores{
        flex-direction: column;
        align-items: center;
     }
     .conteinerValores>div{
       
        width: 100%;
   
   }

}


