.conteinerSobre{
    width: 100%;
    height: 900px;
    color: black;
    transform: translateY(65px);
    display: flex;
    justify-content: space-evenly;
   
}
.conteinerSobre> .ConteinerHistoria{
    width: 100%;
    height: max-content;
    display: flex;
} 
.conteinerSobre>.ConteinerHistoria >div{
    width: 50%;
} 
.divHistoria{
    background-color: darkorange;
}
.divHistoria h2{
    color: white;
}  
.conteinerSobre> .ConteinerHistoria>div h2{
    margin-top: 70px;
}
.conteinerSobre> .ConteinerHistoria>div h2, .conteinerSobre> .ConteinerHistoria>div p{
    margin-left: 45px;
    margin-right: 45px;
}
.conteinerSobre > .ConteinerHistoria>div p{
    margin-bottom: 80px;
}    