    @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
/* font-family: 'Prompt', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
    background-color: white;
    /* background-color: rgb(218, 218, 218); */
    font-family: 'Manrope', sans-serif;
    /* background-color: gray; */
   
    
}
#titulo h3{
    text-decoration: none;
}
header{
    display: flex;
    width: 100%;
    height: 120px;
    background-color: black;
    color: white;
    justify-content: space-between;
    font-size: 22px;
}
p{
    font-family: 'Prompt', sans-serif;
}
header > .logo{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 38px;
}
header > .logo img{
    width: 25%;
}
header > .dadosUsuario{
    width: 325px;
}
header> button{
    width: 50px;
    height: 40px;
    margin: auto 15px;
    border-radius: 15px;
}

.dadosUsuario{
    font-family: 'Lucida Sans';
}

.enviar{
    width: 60px;
    height: 40px;
    font-weight: bold;
    background-color: rgb(235, 233, 233);
    transition: 0.5s;
}
.enviar:hover{
    background-color: rgb(172, 170, 170);
    scale: 1.1;
    transition: 0.5s;
}


.conteiner{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.conteiner > .menu{
    width: 25%;
    height: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    /* background-color: rgb(44, 43, 43); */
    font-family: 'Lucida Sans';

}
.conteiner > .ipres {
    width: 75%;
    height: 1080px;
    background-color: grey;

}
.conteiner > .menu > a {
    background-color: black;
    border-radius: 15px;
    margin: 2px;
    width: 80%;
    height: 35px;
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: solid rgb(80, 80, 80) 2px;
    margin-top: 20px;
}
.conteiner > .menu > a:hover{
    background-color: rgb(32, 31, 31);
    color: white;
    border: solid rgb(80, 80, 80) 2px;
}
/* AQUI É A DIV QUE O JOAO CRIOU */
#divResultados{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
#formPesquisa{
    margin-left: 30px;
    
}
#pesquisar{
    border-radius: 10px;
}
.lupinhaBala{
    font-size: 21px;
    position: relative;
    right: 34px;
    top: 3px;
    border: none;
    background-color: none; 
    background: none;
    color: #000000;
    transition: 0.5s;
}
.lupinhaBala:hover{
    scale: 1.1;
    color: #2b2a2a;
    transition: 0.5s;
}
.tabelaAdm{
    margin: auto;
    width: 80%;
    border: #000000 1px solid ;
}
.tabelaAdm td{
    border: solid 1px black;
    padding: 5px;
}

#admTabela{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
}
.admAdd{
    width: 80%;
    border: solid black 1px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.admAdd td{
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.admAdd input{
    padding: 10px;
    font-weight: bold;
}

.deleteButton{
    background-color: red;
    padding: 5px;
    color: white;
    font-weight: bold;
  
}
.deleteButton:hover{
    background-color: rgb(146, 0, 0); 
}
.editButton{
    background-color: yellow;
    font-weight: bold;
    padding: 5px;
}
.editButton:hover{
    background-color:rgb(255, 166, 0)
}

#admForm{
    width: 600px;
   border: solid black 1px;
    margin: auto;
    padding: 30px 20px 30px 30px;
    border-radius: 15px;
}


.tabelaAdmTh{
    border: solid black 1px;
    background-color: black;
    color: white;
    padding: 0 10px;
    
}
.formBasico{
    width: 250px;
    height: 28px;
    border-radius: 7px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}

.fundoCinza{
    background-color: rgb(218, 218, 218);
}

/*--------------------------------------------- Aqui é só ADMNEW e ADMEDIT ------------------------------------------------*/

#admForm input{
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;

}

#admForm .div3 #sexo{
    height: 32px;
    width: 100px;
    border-radius: 15px;
    
}
#admForm .div3 .inputEmail{
  width: 300px;
}
#admForm .div3 .inputSenha{
    width: 240px;
  }
.box{
    display: flex;
    flex-direction: column;
}

.box > .div1 input{
    width: 100%;
    
}
.box > .div2{
    display: flex;
    justify-content: space-between;
}
.box > .div2 .inputNumero{
    width: 160px;
}
.div3{
    display: flex;
    justify-content: space-between;
}
.div3  .inputnome {
    width: 270px;
}


.voltar {
    width: 60px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: solid rgb(80, 80, 80) 3px;
    transition: 0.5s;
}
.voltar:hover{
    background-color: rgb(32, 31, 31);
    color: white;
    border: solid rgb(80, 80, 80) 2px;
    scale: 1.1;
    transition: 0.5s;
}
#titulo{
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Lucida Sans';
}
#titulo h3, #titulo h4{
    font-size: 30px;
}

#admForm .inputImage{
    height: 45px;
    padding: 5px;
}

.sair{
    background-color: rgb(255, 255, 255);
    width: 60px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;

}

.sair:hover{
    opacity: 70%;
}

/*------------------------------------------- AQUI É SÓ PRODUTONEW E PRODUTOEDIT --------------------------------*/
.divFlex{
    display: flex;
    justify-content: space-between;
}
.divFlex .inputProduto{
    width: 350px;
}
.divFlex .inputValor{
    width: 100px;
}
.divFlex .inputCod{
    width: 80px;
}
.divFlex > .estoque > input {
    width: 180px;
}
.divFlex > .divStatus{
    display: flex;
}

.divFlex > .divStatus > div{
   margin-right: 25px;
}
#admForm  .descricao{
    width: 100%;
}

/* --------------------------------------------------------------------------------------------------------------- */

/*--------------------------------------------- Aqui é empresa edit -----------------------------------------------*/

.divFlex > .inputFantasia{
    width: 180px;
}
.divFlex >.divEndereco > .inputUf{
    width: 80px;
}




















/* ------------------------------------------------------------------------------------------------------------------- */
