*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
    background-color: gainsboro;
}
header{
    display: flex;
    width: 100%;
    height: 120px;
    background-color: black;
    color: white;
    justify-content: space-between;
    font-size: 22px;
}
header > .logo{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 38px;
}
header > .logo img{
    width: 25%;
}
header > .dadosUsuario{
    width: 550px;
}
.conteiner{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.conteiner > menu{
    width: 25%;
    height: 1080px;
    background-color: black;
}
.conteiner > .ipres {
    width: 75%;
    height: 1080px;
    background-color: wheat;
}
